@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap');

* {
   font-family: 'Saira Condensed', sans-serif;
   padding: 0;
   margin: 0;
}
html {
   background-color: #000000;
   background-size: cover;
   color: #fff;
}

.logop {
    /*/////fundo onda tec/////*/
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    background-repeat: no-repeat;
 }
 
 
 
 /* Define o menu */
 #menu img {
    margin: 7px 10px;
    float: right;
 }
 #menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 3px solid rgba(54,173,120,1);
    transition: background-color 0.3s ease-in-out;
 }
 
 #menu .item {
    display: inline-block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 7px 10px;
    margin-top: 3px;
 }
 
 /* Nova classe a ser atribuída ao elemento com os estilos desejados */
 .mudaCor {
    background-color:rgba(54,173,120,1);
 
 }
  
 /*//efeito dropdown//*/
 
 #body-wrapper {
    margin-top: 0px;
 
 }
 
 .dropdown {
    position: relative;
    display: inline-block;
 
 }
 
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 20px;
 }
 
 .dropdown:hover .dropdown-content {
    display: block;
 }
 
 .dropdown span {
    text-decoration: none;
    color: white;
 }
 
 .dropdown a {
    text-decoration: none;
    color: black;
 }
 
 .dropdown a:hover p {
    background-color: #3e5954;
    border-radius: 4px;
    color: white;
 }
 .linha1{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    font-size: 30px;
 }
.texto2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Define a altura do contêiner para centralizar verticalmente */
  }
  .imagem {
    display: block;
    margin: 0 auto;
  }
